<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <div class="div-formulario">
      <h1>Formulário para adoção</h1>
      <form>
        <label>Nome:</label>
        <input type="text" name="nome"><br><br>

        <label>Endereço:</label>
        <input type="text" name="endereco"><br><br>

        <label>Celular:</label>
       <input type="text" name="Telefone"><br><br>

       <label>Nome do gatinho que você teve interesse:</label>
       <input type="text" name="Telefone"><br><br>     

      <ion-button color="primary"(click)="abrirPopup()">Quero adotar!</ion-button>
      </form>
      <img class="gif" src="https://c.tenor.com/15S5EgnUakMAAAAd/cat-kiss.gif">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>