#container {
  text-align: center;
  color: #fabf61;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu{
  font-size: 20px;
  float: left;
  margin-left: 1%;
}

.card{
  text-align: center;
  float:none;
  left: 31%;
}

.container{
  --background: #ececec;
  margin-top: 60px;
}

ion-card-header img{
  width: 150px;
  height: 150px;
}

ion-content{
  top: 80px;
}

ion-card{
  --background: #ED8F65;
  width: 40%;
  left: 10%;
  float:left;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#header{
  text-align: center;
  width: 120px;
}

#cor_header{
  --background: #38b6ff;
}

#cor_footer{
  --background: #fabf61;
}

#footer {
  font-size: 14px;
}

.div-formulario {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  margin-top: 0px;
  background-color: white;
  padding: 15px;
  border: 1px solid gray;
  color:#38b6ff;
  border-radius: 5px;
}

form ion-item{
  color: #000;
  --ion-item-background: #ffffff;
}

button{
  background-color: #38b6ff;
  color: #fff;
  border: none;
  height: 50px;
}

form {
  display: grid;
}

img {
  width: 150px;
  height: auto;
  display: flex;
  margin: auto;
}