<ion-content [fullscreen]="false" class="container" padding>
  <ion-header [translucent]="false" >
    <ion-toolbar id="cor_header">
      <ion-title id="header">
        <img alt="logo" id="header-logo" float-left src="assets/icon/logo-minimizada.png">
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>{{nome}}</ion-label>
    <ion-toggle [(ngModel)]="opcao" (click)="doar()"></ion-toggle>
  </ion-item>

  <div id="container" scrollX="true">
    <div *ngIf="gatos.length == 0">
      <p>Doe um gato para aparecer aqui na lista</p>
    </div>
    <ion-card *ngFor="let gato of gatos">
      <div *ngIf="gato.adotado" class="adotado">Adotado</div>
      <div *ngIf="gato.nomeArquivo">
        <img src="{{gato.nomeArquivo}}">
      </div>
      <div *ngIf="!gato.nomeArquivo">
        <img src="assets/icon/{{gato.arquivo}}.jpeg">
      </div>
      <ion-card-title>
        {{gato.nome}}
      </ion-card-title>
      <ion-card-subtitle>
        {{gato.descricao}}
      </ion-card-subtitle>
      <div *ngIf="gato.adotado">
        <ion-button disabled color="primary" (click)="abrirPagina(gato.id)">Adotar</ion-button>
      </div>
      <div *ngIf="!gato.adotado">
        <ion-button color="primary" (click)="editar(gato.id)">Editar</ion-button>
        <ion-button color="primary" (click)="abrirPagina(gato.id)">Adotar</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>

<ion-footer [translucent]="false" >
  <ion-toolbar id="cor_footer">
    <ion-title id="footer">
      Copyright © 2021 • Desenvolvido por  Gustavo Munis, Iris Barbosa, Karen Avelar, Enrico Cioffi, Matheus Carvalho.
    </ion-title>
    <ion-button (click)="doacaoDinheiro()">Clique aqui e ajude nossa causa!</ion-button>
  </ion-toolbar>
</ion-footer>