<ion-content [fullscreen]="true" class="container">
  <ion-item>
    <ion-label>{{nome}}</ion-label>
    <ion-toggle [(ngModel)]="opcao" (click)="doar()"></ion-toggle>
  </ion-item>
    <div id="container">
      <div>
      <ion-card >
        <ion-card-header>
          <img src="assets/icon/foto-gatinho.jpeg">
          <ion-card-title>
            Dorinha
          </ion-card-title>
          <ion-card-subtitle>
            Subtítulo do cartão
          </ion-card-subtitle>
          <ion-button color="primary" (click)="abrirPagina()">Adotar</ion-button>
        </ion-card-header>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <img src="assets/icon/oreo.jpeg">
          <ion-card-title>
            Oreo
          </ion-card-title>
          <ion-card-subtitle>
            Subtítulo do cartão
          </ion-card-subtitle>
          <ion-button color="primary" (click)="abrirPagina()">Adotar</ion-button>
        </ion-card-header>
      </ion-card>
    </div>
    </div>
</ion-content>