<ion-content [fullscreen]="true" class="container">
  <ion-item>
    <ion-label>{{nome}}</ion-label>
    <ion-toggle [(ngModel)]="opcao" (click)="doar()"></ion-toggle>
  </ion-item>
    <div id="container">
      <ion-card *ngFor="let gato of gatos">
      <img src="assets/icon/{{gato.arquivo}}.jpeg">
        <div *ngIf="gato.adotado == true">
          adotado
        </div>
        <ion-card-title>
          {{gato.nome}}
        </ion-card-title>
        <ion-card-subtitle>
          {{gato.descricao}}
        </ion-card-subtitle>
        <ion-button color="primary" (click)="abrirPagina(gato.id)">Adotar</ion-button>
      </ion-card>
    </div>
</ion-content>