#container {
  text-align: center;
  color: #fabf61;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container{
  --background: #ececec;
}

ion-card-header img{
  width: 150px;
  height: 150px;
}

ion-card{
  --background: #813b3b; // trocar cor
  width: 40%;
  left: 10%;
  float:left;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#header{
  text-align: center;
}

#cor_header{
  --background: #38b6ff;
}

#cor_footer{
  --background: #fabf61;
}