<ion-app>
  <ion-header [translucent]="true" >
    <ion-toolbar id="cor_header">
      <ion-title id="header">
        <img alt="logo" id="header-logo" float-left src="assets/icon/logo-minimizada.png">
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>

  <ion-footer [translucent]="true" >
    <ion-toolbar id="cor_footer">
      <ion-title id="footer">
        Copyright © 2021 • Desenvolvido por  Gustavo Munis, Iris Barbosa, Karen Avelar, Enrico, Mateus.
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>